<div class="container" fade-in>
	<div class="sitepage row">	
	<div class="col-xs-12">
		<h1>
			WHO WE ARE
		</h1>

		<p><b>Rapid Eye Productions</b> is on a mission to communicate meaning through film and photography.</p>

		<p>Your passionate start-up business, the music springing up from your heart, the journey to your wedding day... <b>You have a story, and we want to tell it.</b></p>

		<p><i>Formerly Videos of Goodness.</i></p><hr>
	</div>
	<div class="col-sm-6 image-padding">
	<img class="img-responsive" src="img/gabriel.jpg">
	</div>
	<div class="col-sm-6" >
		<h1>GABRIEL KONKLE</h1>
		<h4><i>OWNER</i></h4><br><br><br>

		<p>Ever since playing make-believe in my childhood home in rural Ohio, stories have been my passion. From music to painting to creative writing, they have always been my object, no matter the avenue.</p> 

		<p>Film captured my heart early on. There's nothing quite so powerful as cinema. It has an unmatched ability to communicate.</p>

		<p>Since then, I've done professional photography and videography, as well as pursue my own creative projects, including a feature film, REM, which is in pre-production.</p> 

		<p>No matter what I've done, though, stories have followed, and I've followed them.</p>
	</div>
</div>

</div>