<div class="container" fade-in>
<div class="row">
<div class="col-sm-2 col-md-3"></div>
<div class="col-xs-12 col-sm-8 col-md-6">
<div class="donate-form-div">
    <div class="donate-form">
        <h2 align="center">Contact Information</h2>
        <hr>
        <p>If you have any questsions, suggestions, encouragements, or simply want to know more about Melody of Hope, please email board@melodyofhope.org.</p><p>You may also contact the following people directly:</p><p><b>Charlie Welch</b><br>MoH President<br>Charlie.Welch@melodyofhope.org</p><p><b>Jeremy Ottens</b><br>MoH Vice-President<br>Jeremy@melodyofhope.org<br>469.831.3894</p>
	</div>
</div>
</div>
</div>
</div>