<style type="text/css">
	body {
	background: url('../img/rem.jpg') no-repeat fixed center;
	background-size: cover;
	}
</style>
<div class="container" fade-in>
	<div class="contactpage row">	
	<div class="col-xs-12">
		<h2>
			CONNECT WITH US
		</h2>
	</div>
	<div class="col-xs-12" align="right"><br><br>
		<p>Behind every company, startup, band, business, or bride, there's a story waiting to be told. <b>What's yours?</b></p>

		<p>We'd love to know.</p>

		<p>Contact us at 469.737.0732 or via email at info@rapideyepro.com.</p>
	</div>

	</div>
</div>

</div>