<div class="container" fade-in>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="donate-form-div">
                <div class="donate-form">
                    <h2 align="center">One-Time Donations</h2><hr>
                    <p>PayPal takes a small percentage of all electronic donations.  In order to maximize your efforts, please make all donations over $500 out to "Melody of Hope" via check or money order and send it to:</p>
                    <p><b>Melody of Hope<br>5941 Stone Mountain<br>The Colony, TX 75056</b></p>
                    <p>Otherwise please feel free to donate here!</p>
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_xclick">
                        <input type="hidden" name="business" value="U2FY7D3UB97MA">
                        <input type="hidden" name="lc" value="US">
                        <input type="hidden" name="item_name" value="One-time donation to MoH">
                        <input type="hidden" name="item_number" value="12345">
                        <input type="hidden" name="currency_code" value="USD">
                        <input type="hidden" name="button_subtype" value="services">
                        <input type="hidden" name="no_note" value="0">
                        <input type="hidden" name="cn" value="Add special instructions to the seller:">
                        <input type="hidden" name="no_shipping" value="1">
                        <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHosted">
                        <table>
                            <tr><td><input type="hidden" name="on0" value="Donation amount:">Donation amount:</td></tr><tr><td><input class="input-lg" name="amount" maxlength="60" size="4" placeholder="$"></td></tr>
                        </table><hr>
                        <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1"> You will be redirected to PayPal's website.
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="donate-form-div">
                <div class="donate-form">
                    <h2 align="center">Recurring Donations</h2>
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_xclick-subscriptions">
                        <input type="hidden" name="business" value="charlie.welch@melodyofhope.org">
                        <input type="hidden" name="lc" value="US">
                        <input type="hidden" name="item_name" value="Donation to MoH">
                        <input type="hidden" name="item_number" value="1234">
                        <input type="hidden" name="no_note" value="1">
                        <input type="hidden" name="no_shipping" value="2">
                        <input type="hidden" name="src" value="1">
                        <input type="hidden" name="p3" value="1">
                        <input type="hidden" name="currency_code" value="USD">
                        <input type="hidden" name="bn" value="PP-SubscriptionsBF:btn_subscribeCC_LG.gif:NonHosted"><hr>
                        <table>
                            <tr><td>Donation amount: <br><input class="input-lg" name="a3" maxlength="60" size="4" placeholder="$"> </td></tr>
                            <tr><td>
                                <br><p>How many times would you like to donate?</p>
                                <select class="input-lg" name="srt">
                                    <option value="0">Continuous Recurring Donations</option>
                                    <option value="2">2 Recurring Donations</option>
                                    <option value="3">3 Recurring Donations</option>
                                    <option value="4">4 Recurring Donations</option>
                                    <option value="5">5 Recurring Donations</option>
                                    <option value="6">6 Recurring Donations</option>
                                    <option value="7">7 Recurring Donations</option>
                                    <option value="8">8 Recurring Donations</option>
                                    <option value="9">9 Recurring Donations</option>
                                    <option value="10">10 Recurring Donations</option>
                                    <option value="11">11 Recurring Donations</option>
                                    <option value="12">12 Recurring Donations</option>
                                </select> </td></tr>
                                <tr><td>
                                    <br><p>Choose the frequency of your donations:</p>
                                    Every 
                                    <select class="input-lg" name="p3"> 
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="10">13</option>
                                        <option value="11">14</option>
                                        <option value="12">15</option>
                                    </select>
                                    <select class="input-lg" name="t3">
                                        <option value="Y">Year(s)</option>
                                        <option value="M">Month(s)</option>
                                        <option value="W">Week(s)</option>
                                        <option value="D">Day(s)</option>
                                    </select>.
                                </td></tr>
                            </table>
                            <hr>
                            <input class="donate-btn" type="image" src="https://www.paypal.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1"> You will be redirected to PayPal's website.
                        </form>
                    </div>
                </div>
            </div><br>
        </div>
    </div>