<div class="container" fade-in>
	<div class="row">
		<div class="col-xs-12">
			<div class="homepage">        	
				<h2 align="center">
					Our name is Rapid Eye Productions. We make videos.
				</h2><br><br>
				<p>
					Welcome to our home. While you're here, have a look around. There are plenty of videos and photos to keep you occupied. You can contact us, if you have any questions. You can also check out our wedding division, <a href="http://reveriewed.com">Reverie Weddings</a>. It has lots of pretty stuff to look at.
				</p>
			</div>
		</div>      
	</div>
</div>
