<div class="container" fade-in>
<div class="row">
<div class="col-sm-2 col-md-3"></div>
<div class="col-xs-12 col-sm-8 col-md-6">
<div class="donate-form-div">
    <div class="donate-form">
        <h2 align="center">Our Mission</h2>
        <hr>
<p>	Melody of Hope will seek to use music as a means to raise funds and spread awareness for various non-profits located around our community.</p>
<b><p>“Let the music bring hope”</p></b>

<h3><b>Goal</b></h3>

<p>The goal of the partnerships is to help provide and raise funds while becoming a voice and advocate for the causes.  Together we can target multiple issues that plagues our local community and build a network of supporters.  Together we can target multiple issues that plague our local communities, raise up a network of supporters, and contribute to the sustainable growth of our nation and further serve tomorrows generation. </p> 

<p><b>Target Non-Profits</b><br>
-Children at Risk<br>
-North Texas Food Bank<br>
-Make-A-Wish<br>
-The Net<br>
-Bully Suicide Project<br>
-Snowball Express<br>
-Fine Arts Chamber Players</p>

<p><b>Goals</b><br>
-Promote public awareness<br>
-Raise Funds<br>
-Recruit, train, and support volunteers<br>
-Support local artist<br>
-Create <br>
-Support the arts<br>
-Provide an enjoyable community<br>
-Network with other non-profits<br>
-Change the music industry</p>

<h3><b>Purpose</b></h3>

<p>The purpose of the partnership is to help decrease the dependency syndrome, promote productivity, and ultimately establish healthy communities.  Fundraising is the hardest aspect to sustaining a non profit, Melody of Hope was created to help raise that funding. Melody of hope will also help to encourage our communities to grow into a self-supporting sustainable manner for generations to come.  </p>
	</div>
</div>
</div>
</div>
</div>