<nav class="navbar navbar-default navbar-fixed-bottom ">
<div class="col-xs-6 pull-left visible-xs">
<div class="row" align="center">
<!--     <a href="http://facebook.com/rapideyepro/"
        onMouseOver="return fbchangeImage()"
        onMouseOut= "return fbchangeImageBack()"
        onMouseDown="return fbhandleMDown()">
        <img name="fbicon" src="/img/fbup.png" width="44" height="44" border="0" alt="Facebook"></a> -->

        <a href="http://vimeo.com/rapideyepro/"
        onMouseOver="return vimchangeImage()"
        onMouseOut= "return vimchangeImageBack()"
        onMouseDown="return vimhandleMDown()">
        <img name="vimicon" src="/img/vimeoup.png" width="44" height="44" border="0" alt="Vimeo"></a>
</div></div>
<div class="col-xs-6 pull-right">
<div class="navbar-brand">469.737.0732 | INFO@RAPIDEYEPRO.COM</div>
</div>
</nav>