<nav class="navbar navbar-inverse navbar-fixed-bottom">
<div class="row" align="center">
    <a href="http://facebook.com/melodyofhope/"
        onMouseOver="return fbchangeImage()"
        onMouseOut= "return fbchangeImageBack()"
        onMouseDown="return fbhandleMDown()"
        onMouseUp="return fbhandleMUp()">
        <img name="fbicon" src="/ui/img/fbup.png" width="50" height="50" border="0" alt="Facebook"></a>

        <a href="http://twitter.com/melodyofhopes/"
        onMouseOver="return twchangeImage()"
        onMouseOut= "return twchangeImageBack()"
        onMouseDown="return twhandleMDown()"
        onMouseUp="return twhandleMUp()">
        <img name="twicon" src="/ui/img/twup.png" width="50" height="50" border="0" alt="Twitter"></a>

        <a href="http://instagram.com/melodyofhope/"
        onMouseOver="return igchangeImage()"
        onMouseOut= "return igchangeImageBack()"
        onMouseDown="return ighandleMDown()"
        onMouseUp="return ighandleMUp()">
        <img name="igicon" src="/ui/img/igup.png" width="50" height="50" border="0" alt="Instagram"></a>
</div>
</nav>