<nav class="navbar navbar-inverse navbar-fixed-bottom">
<div class="row" align="center">
    <a href="http://facebook.com/melodyofhope/"
        onMouseOver="return fbchangeImage()"
        onMouseOut= "return fbchangeImageBack()"
        onMouseDown="return fbhandleMDown()">
        <img name="fbicon" src="/img/fbup.png" width="50" height="50" border="0" alt="Facebook"></a>

        <a href="http://twitter.com/melodyofhopes/"
        onMouseOver="return twchangeImage()"
        onMouseOut= "return twchangeImageBack()"
        onMouseDown="return twhandleMDown()">
        <img name="twicon" src="/img/twup.png" width="50" height="50" border="0" alt="Twitter"></a>

        <a href="http://instagram.com/melodyofhope/"
        onMouseOver="return igchangeImage()"
        onMouseOut= "return igchangeImageBack()"
        onMouseDown="return ighandleMDown()">
        <img name="igicon" src="/img/igup.png" width="50" height="50" border="0" alt="Instagram"></a>
</div>
</nav>