<nav class="navbar navbar-default navbar-fixed-top">
    <div class="col-xs-12 visible-xs">    
        <div class="navbar-header">

            <a class="navbar-brand" href="#"><img src="img/rapideyeproductions30.png"></a>

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-nav">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>

        <div id="top-nav" class="navbar-collapse collapse">

            <ul class="nav navbar-nav">
                <li><a class="navbar-brand" href="#">HOME</a></li>
                <li><a class="navbar-brand" href="#/about">ABOUT</a></li>
            <li class="dropdown"><a class="navbar-brand dropdown-toggle" data-toggle="dropdown" href="#" id="film-menu">FILM</a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="film-menu">
                    <li><a href="#/projects">PROJECTS</a></li>
                    <li><a href="#/weddingvideo">WEDDINGS</a></li>
                    <li><a href="#/music">MUSIC</a></li>
                    <li><a href="#/personalfilm">PERSONAL</a></li>
                </ul></li>
                <li class="dropdown"><a class="navbar-brand dropdown-toggle" data-toggle="dropdown" href="#" id="photo-menu">PHOTO</a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="photo-menu">
                        <li><a href="#/portrait">PORTRAIT</a></li>
                        <li><a href="#/lostfound">LOST &amp; FOUND</a></li>
                        <li><a href="#/weddingphoto">WEDDINGS</a></li>
                        <li><a href="#/product">PRODUCT</a></li>
                    </ul></li>
                <li><a class="navbar-brand" href="#/contact">CONTACT</a></li>

            </ul>
        </div>
    </div>



    <div class="col-sm-12 hidden-xs">
        
        <ul class="nav navbar-nav">
            <li><a class="navbar-brand" href="#/about">ABOUT</a></li>
            <li class="dropdown"><a class="navbar-brand dropdown-toggle" data-toggle="dropdown" href="#" id="film-menu">FILM</a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="film-menu">
                    <li><a href="#/projects">PROJECTS</a></li>
                    <li><a href="#/weddingvideo">WEDDINGS</a></li>
                    <li><a href="#/music">MUSIC</a></li>
                    <li><a href="#/personalfilm">PERSONAL</a></li>
                </ul></li>
                <li><a class="navbar-brand" href="#"><img src="img/logo-150.png"></a></li>
            <li class="dropdown"><a class="navbar-brand dropdown-toggle" data-toggle="dropdown" href="#" id="photo-menu">PHOTO</a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="photo-menu">
                    <li><a href="#/portrait">PORTRAIT</a></li>
                    <li><a href="#/lostfound">LOST &amp; FOUND</a></li>
                    <li><a href="#/weddingphoto">WEDDINGS</a></li>
                    <li><a href="#/product">PRODUCT</a></li>
                </ul></li>
            <li><a class="navbar-brand" href="#/contact">CONTACT</a></li>
        
        </ul>
    </div>
</nav>