body {
	background: url('../img/splashbg.jpg') no-repeat fixed center;
	background-size: cover;
}
.splash {
	padding-top: 10%;
}

.donate-form-div {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 15px;
}
.col-sm-6 {
    float:none;
    display:inline-block;
    vertical-align:middle;
    margin-right:-4px;
}
.donate-form {
		font-family: "Josefin Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	color:	#FFFFFF;
	font-size: 20px;
	padding-top: 5px;
	padding-bottom: 10px;
}
.donate-btn {
	text-align: center;
}
select{
		background-color: rgba(0, 0, 0, 0.6);
		color: #fff;
		font-family: Arial;
}
input{
		background-color: rgba(0, 0, 0, 0.6);
		color: #fff;
		font-family: Arial;
}
@font-face {
	font-family: Androgyne;
	src: url(../fonts/androgyne_TB.otf);
}
h2 {
	font-family: Androgyne;
	font-size: 36px;
}


/* NavBar Style Bootstrap Override */
.navbar-inverse {
	background-color: #04285a;
	font-family: "Josefin Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	border-color: #ffffff;
}
.navbar-inverse a {
	color: #ffffff;
}
.navbar-inverse .navbar-toggle {
  border-color: #ffffff;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: rgba(0,0,0,.4);
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #FFFFFF;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #85ccbe;
  background-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #85ccbe;
  background-color: transparent;
}
